@model UI.Models.Utilisateur.UtilisateurEditForm

@{
	ViewBag.Title = "Edit";

}

<h2>Edit</h2>

<h4>UserEditForm</h4>

<hr />

<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>

			</div>
			<div class="form-group">
				<label asp-for="Pseudo" class="control-label"></label>
				<input asp-for="Pseudo" class="form-control" />
				<span asp-validation-for="Pseudo" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>